/koodi/viikko4/VerkkokauppaSpring/.nb-gradle/
/koodi/viikko4/VerkkokauppaSpring/build/
/koodi/viikko6/Laskin/.nb-gradle/
/koodi/viikko6/Laskin/build/
/koodi/viikko6/QueryLanguage/.nb-gradle/
/koodi/viikko6/QueryLanguage/build/